<?xml version="1.0" encoding="UTF-8"?>

<Values version="2.0">
  <record name="test" javaclass="com.wm.util.Values">
    <value name="urlPath">192.168.0.1</value>
    <record name="portMap" javaclass="com.wm.util.Values">
    </record>
  </record>
</Values>
